In [ ]:
import duckdb
import textwrap
#con = duckdb.connect(database=":memory:")  # in-memory for the session.
con = duckdb.connect()
print("DuckDB version:", duckdb.__version__)

In [ ]:
def SQL(q):
    """Run SQL (printed for clarity) and return a DataFrame."""
    print("/nSQL>/n" + textwrap.dedent(q).strip())
    return con.execute(q).fetchdf()

print("DuckDB version:", con.sql("SELECT version();").fetchone()[0])

In [ ]:
SQL("""INSTALL ducklake;""")

In [ ]:
SQL("""LOAD ducklake;""")

In [ ]:
SQL("""ATTACH 'PATH/local_data_store/lakehouse.db' 
    AS mobility_lakehouse
    (READ_ONLY false);
""")

In [ ]:
SQL("""USE mobility_lakehouse;""")

In [ ]:
SQL("""DROP TABLE IF EXISTS bronze_raw_mobility_trips
""")

In [ ]:
SQL("""CREATE TABLE bronze_raw_mobility_trips (
    date TEXT,
    hour_period TEXT,
    origin_zone TEXT,
    destination_zone TEXT,
    distance_category TEXT,
    origin_activity TEXT,
    destination_activity TEXT,
    origin_study_possible TEXT,
    destination_study_possible TEXT,
    residence_province TEXT,
    income_bracket TEXT,
    age_bracket TEXT,
    sex TEXT,
    trips TEXT,
    trips_km TEXT
);
""")

In [ ]:
SQL("""
INSERT INTO bronze_raw_mobility_trips
SELECT *
FROM read_csv_auto('C:/Users/ismae/OneDrive/Desktop/Master/BigData/project/20220101_Viajes_distritos.csv.gz');

""")

In [ ]:
SQL("""SELECT *
FROM information_schema.tables
WHERE table_name = 'bronze_raw_mobility_trips';
DESCRIBE bronze_raw_mobility_trips;

""")

In [ ]:
SQL("""SELECT *
FROM bronze_raw_mobility_trips

LIMIT 20;

""")

#SILVER# hay que canbiar el casting

In [ ]:
SQL("""CREATE TABLE silver_mobility_trips AS
SELECT
    CAST(date AS DATE) AS date,
    CAST(hour_period AS INTEGER) AS hour,
    origin_zone,
    destination_zone,
    distance_category,
    origin_activity,
    destination_activity,
    origin_study_possible IN ('si','sí') AS origin_study_possible,
    destination_study_possible IN ('si','sí') AS destination_study_possible,
    CAST(residence_province AS INTEGER) AS residence_province,
    income_bracket,
    age_bracket,
    sex,
    CAST(trips AS DOUBLE) AS trips,
    CAST(trips_km AS DOUBLE) AS trips_km,
    
    -- derived field
    CASE 
        WHEN EXTRACT(dow FROM CAST(date AS DATE)) IN (6,0) THEN 'weekend'
        ELSE 'weekday'
    END AS day_type

FROM bronze_raw_mobility_trips;
""")

/nSQL>/nCREATE TABLE mobility_trips AS
SELECT
    CAST(date AS DATE) AS date,
    CAST(hour_period AS INTEGER) AS hour,
    origin_zone,
    destination_zone,
    distance_category,
    origin_activity,
    destination_activity,
    origin_study_possible IN ('si','sí') AS origin_study_possible,
    destination_study_possible IN ('si','sí') AS destination_study_possible,
    CAST(residence_province AS INTEGER) AS residence_province,
    income_bracket,
    age_bracket,
    sex,
    CAST(trips AS DOUBLE) AS trips,
    CAST(trips_km AS DOUBLE) AS trips_km,

    -- derived field
    CASE
        WHEN EXTRACT(dow FROM CAST(date AS DATE)) IN (6,0) THEN 'weekend'
        ELSE 'weekday'
    END AS day_type

FROM bronze_raw_mobility_trips;

ConversionException: Conversion Error: invalid date field format: "20220101", expected format is (YYYY-MM-DD) when casting from source column date

LINE 3:     CAST(date AS DATE) AS date,
            ^

In [ ]:
SQL("""INSTALL ducklake;""")

In [ ]:
SQL("""INSTALL ducklake;""")

In [ ]:
SQL("""INSTALL ducklake;""")